<!DOCTYPE html>
<html>
	<head>
		<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
		<title>Movies reviews</title>
	</head>
	<body>
		<div id="wrapper">
		  <header>
		    
		    <nav>
		      
		      <img class="logo" src="http://ia.media-imdb.com/images/M/MV5BMTczNjM0NDY0Ml5BMl5BcG5nXkFtZTgwMTk1MzQ2OTE@._V1_.png"/>
		      <ul class="nav">
		        <li class="active">movies</li>
		        <li>celebs & photos</li>
		        <li>community</li>
		        <li>news</li>
		      </ul>
		      <div class="user">
		        <i class="fas fa-cogs user-settings"></i>
		        <img class="user-icon" src="https://scontent.faep10-1.fna.fbcdn.net/v/t1.0-9/13442130_10206514769884264_3125680887521275015_n.jpg?_nc_cat=110&_nc_ht=scontent.faep10-1.fna&oh=af8b0cf0f91ceac082e638bbb10e16ef&oe=5CE5036A"/>
		      </div><!--user end-->
		      
		    </nav>
		    
		    <div class="movie-info">
		      <h1>the martian</h1>
		      <ul class="genre">
		        <li>adventure</li>
		        <li>sci-fi</li>
		        <li>thriller</li>
		      </ul><!--genre-->
		      <button>watch trailer <i class="fa fa-play-circle-o"></i></button>
		      <h3>In theaters</h3>
		      <h4>15 Oct, 2015 (USA)</h4>
		    </div><!--movie-info end-->
		    
		  </header>
		  
		  <main>
		    
		    <ul class="options">
		      <li class="active">in theaters</li>
		      <li>coming soon</li>
		      <li>charts</li>
		      <li>tv series</li>
		      <li>trailers</li>
		      <li>more</li>
		    </ul>
		    
		    <div id="forms">
		      <div class="buttons">
		        <i class="fa fa-navicon"></i>
		        <i class="fa fa-th"></i>
		      </div>
		      <form id="range-form">
			      <p>IMDb Rating</p>
			      <div class="group">    
			        <input id="range" type="range" min="6.0" max="10" step="0.1" value="6">
			        <p id="results">6</p>
			      </div>
		      </form>

		    <form id="search-form">
		      <input id="search" type="search" results="5" placeholder="Search Movies...">
		      <i class="fa fa-search"></i>
		    </form>
		  </div><!--forms-->
		    
		    <section id="movies">      
		            
		    </section>
		  </main><!--container end-->
		  <div class="loading"><i class="fa fa-spinner"></i></div>
		  <footer>
		    <div>
		      <h3>IMDb</h3>
		      <div class="social-links">
		        <i class="fab fa-twitter"></i>
		        <i class="fab fa-facebook-f"></i>

		        <i class="fab fa-instagram"></i>
		      </div><!--social-links end-->
		      <p>1990-2017 imdb.com, inc</p>
		    </div>
		    <a href="#">show menu</a>
		  </footer>
		</div><!--wrapper end-->
	</body>
</html>